certifi==2018.10.15
chardet==3.0.4
Click==7.0
dash==0.28.5
dash-auth==1.2.0
dash-core-components==0.35.0
dash-html-components==0.13.2
dash-renderer==0.14.3
decorator==4.3.0
Flask==1.0.2
Flask-Compress==1.4.0
Flask-SeaSurf==0.2.2
gunicorn==19.9.0
idna==2.7
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
nbformat==4.4.0
pandas==1.3.5
plotly==3.3.0
pytz==2018.6
requests==2.20.0
retrying==1.3.3
Brotli
cachetools
certifi
chardet
click
dash
dash-bio
dash-core-components
dash-html-components
dash-table
Flask
Flask-Compress
future
futures
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gunicorn
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
packaging
pandas
plotly
protobuf
pyasn1
pyasn1-modules
pymongo[srv]
dnspython
pyparsing
python-dateutil
pytz
requests
retrying
rsa
six
uritemplate
urllib3
